@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* 
  font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
 */
*{
    margin: 0;
    padding:0;
    max-width: 1600px;
}
/* shared  style*/
section{
    margin-bottom: 120px;
    
}
/* shared  style end*/
/* main style  */
main{
    max-width: 1320px;
    margin: 0 auto;
}
.description{
color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
font-family: "Inter", sans-serif;
}
/* banner start */
#banner{
 margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);

    
}
.banner-container{
padding: 177px 344px;
text-align: center;

}
.banner-subtitle{
   
font-size: 32px;
font-weight: 400;
color: rgb(255, 255, 255);

font-family: "Merriweather", serif;
}
.section-title{
  font-weight: 900px;
  font-size: 72px;
 
  font-family: "Merriweather", serif;
  color: rgb(255, 255, 255);
}
.offer-container{
   margin: 0 auto;
   max-width: 802px;
   text-align: center;

}
.offer-subtitile{
    color:#070211;
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 10px 0 45px 0;
}
.offer-description{
    font-weight: 500;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
}
.offer-tite{
    margin-bottom: 62px;
    font-weight: 700;
    font-size: 88px;
   font-family: "Inter", sans-serif;
   color: #FF0000;
}
.enjoy-title{
    font-weight: 900;
    font-size: 64px;
    font-family: "Merriweather", serif;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
#enjoys{
    border-radius: 16px;

background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);

}
.enjoy-column-1{
    max-width: 697px;
}
.enjoy-column-2{
    max-width: 350px;
}
.enjoys-container{ 
    display: flex;
    align-items: center;
   min-height: 600px;
   padding: 0 130px 0 130px;
   gap: 10px;
}
.eniioy-description{
   color: rgba(255, 255, 255, 0.8);
   font-size: 18px;
   font-weight:400 ;
   margin-bottom: 48px;
   font-family: "Inter", sans-serif;
}
.enjoy-button{
    font-size: 20px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    text-transform: uppercase;
    background-color: black;

}
.times{
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.times-container{
    padding: 96px 370px 106px;
    text-align: center;
}
.time{
font-weight: 500;
margin-bottom: 30px;
font-size: 32px;
font-family: "Inter", sans-serif;
color: #070211;
}

.span{
color: #FF0000;
}
.times-btn{ 
    font-weight: bold; 
    margin-top: 52px;
    font-size: 20px; color: #ffffff;
     background-color: #FF0000;
      border: none; 
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
    border-radius:8px ; 
    padding: 16px 32px;
}
.new-offer{
    display: flex;
    align-items: center;
    gap: 72px;
}
.new-offer-1{
    max-width: 393px;
}
.new-offer-1 h5{
    font-size: 24px;
    font-weight: 500px;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
    color: #FF0000;
   
    
}
.new-offer-2{
    max-width: 463px;
    border: 15px solid #FF0000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 40px;
}
.new-offer-1 h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    margin-bottom: 22px;
}
.new-offer-3{
    max-width: 276px;
}
.new-offer-3 h3{
    font-weight: 700;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    margin-bottom: 25px;
}
.new-offer-3 img{
    margin:43px 114px 0 22px;
}
.function{
text-align: center;
}
.function-title{
font-weight: 900;
font-size: 72px;
color: #070211;
font-family: "Merriweather", serif;
margin-bottom: 28px;
}
.function-subtitle{
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #070211;
    margin-bottom: 16px;
}
.function-pic{
    margin-top: 64px;
display: flex;
justify-content: space-between;
background-image: url(../images/Rectangle\ 2.png);
background-position: bottom;
background-repeat: no-repeat;
}
.pic-2{
    padding: 77px 0 0 0;
}
.images-text{
    max-width: 70%;
}
.images-text h5{
font-size: 24px;
font-weight: 500;
font-family: "Inter", sans-serif;
color: #FF0000;
margin-bottom: 16px;
}
.images-text h3{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    font-family: "Merriweather", serif;
    margin-bottom: 22px;


}
.images{
    margin-top: 48px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.image{
    width: 30%;
  
}
.subscribes-section{
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}
.subscribes{
  
   width: 896px;
   
    height: 616px;
    text-align: center;
}
.subscribes h3{
font-size: 48px;
font-weight: 900;
color: #070211;
}
.massage-box{
    padding: 0 18px 14px 0;
    width: 131px;
    height: 137px;
     margin: 80px 373px 40px 373px;
    border: 2px dashed #070211;
} 
.subscribes h3{
   font-size: 48px;
   font-weight: 900;
   font-family: "Merriweather", serif;
    color: #070211;
    margin-bottom: 22px;
}
.subscriber{
    margin-top: 22px;
    
}
input[type="search"]{
    width: 438px;
    font-family: "Inter", sans-serif;
    height: 72px;
    padding: 25px 0 25px 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(7, 2, 17, 0.3);
    border-radius:50px 0 0 50px ;
    border: none;
    -webkit-border-radius:50px 0 0 50px ;
    -moz-border-radius:50px 0 0 50px ;
    -ms-border-radius:50px 0 0 50px ;
    -o-border-radius:50px 0 0 50px ;
}
.btn-sub{
    font-family: "Inter", sans-serif;
    width: 210px;
    height: 72px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF0000;
    border-radius:0 50px 50px 0 ;
    -webkit-border-radius:0 50px 50px 0 ;
    border: none;
    -moz-border-radius:0 50px 50px 0 ;
    -ms-border-radius:0 50px 50px 0 ;
    -o-border-radius:0 50px 50px 0 ;
}
footer{
    background-color: #070211;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 609px;

    
}
footer img{
    border: 2px dashed #ffffff5a;
    padding: 3px;
}
.footer-container{
   display: flex;
   flex-direction: column;
    width: 1320px;
    font-family: "Inter", sans-serif;
    gap: 120px;
   
}
.footer-container-1{
    display: flex;
    justify-content: space-between;

}
.footer-description{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;

    
}
.icon{
    display: flex;
    margin-bottom: 5px;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-container-3{

}